

/** Theme Color **/

.handle-preloader .animation-preloader .spinner{
  border: 3px solid #fa1d00;
  border-top-color: rgba(250, 29, 0, 0.5); 
}

.theme-btn{
	background: #ff4f5b;
}

.scroll-top:hover{
  background: #ff4f5b;
  border-color: #ff4f5b;
}

.banner-carousel .content-box .btn-box a{
	color: #ff4c4c;
  border: 2px solid #ff4c4c;
}

.banner-carousel .content-box .btn-box a:before{
	background: #ff4c4c;
}

.bg-color-1{
  background: #fcf8f7;
}

.main-menu .navigation > li.current > a, 
.main-menu .navigation > li:hover > a{
	color: #fa1d00;
}

.banner-carousel .content-box h6{
	background: #fceceb;
	color: #ff4c4c;
}

.banner-section .owl-nav .owl-prev:hover,
.banner-section .owl-nav .owl-next:hover{
  background: #fa1d00;
  border-color: #fa1d00;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading{
  color: #fa1d00;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:before{
  color: #ff4f5b;
}

.sec-title h6{
    background: #fceceb;
    color: #ff4f5b;
}

.about-section .content-box .tab-btn-box .tab-btns li:before{
	background: #ff4f5b;
}

.about-section .content-box .tab-btn-box .tab-btns li.active-btn,
.about-section .content-box .tab-btn-box .tab-btns li:hover{
 	color: #ff4f5b; 
}

.list-item li:before{
	background: #ff4f5b;
}

.protect-section .more-btn a{
    color: #ff4c4c;
    border: 2px solid #ff4c4c;
}

.protect-section .more-btn a:before {
    background: #ff4c4c;
}

.faq-section .content-box .text p a:hover{
   color: #fa1d00;
}

.accordion-box .accordion .acc-btn h4 span{
	color: #ff4f5b;
}

.team-block-one .inner-box .image-box .social-links li a:hover{
  background: #ff4f5b;
}

.team-block-one .inner-box .lower-content h3 a:hover{
  color: #ff4f5b;
}

.team-block-one .inner-box .lower-content .phone a i{
	color: #ff4f5b;
}

.team-block-one .inner-box .lower-content .phone a:hover{
  color: #ff4f5b;
}

.handwash-section .inner-content .single-item .inner-box .image-box .count{
	background: #ff4f5b;
}

.news-block-one .inner-box .lower-content .feature{
	background: #fceceb;
	color: #ff4f5b;
}

.news-block-one .inner-box .lower-content h3 a:hover{
  	color: #ff4f5b;
}

.news-block-one .inner-box .lower-content .btn-box a:hover{
	background: #ff4f5b;
}

.cta-section .btn-box .btn-2{
    color: #ff4c4c;
    border: 2px solid #ff4c4c;
}

.cta-section .btn-box .btn-2:before {
    background: #ff4c4c;
}

.main-footer .widget-section .links-widget .widget-content ul li a:before{
	background: #ff4f5b;
}

.main-footer .widget-section .links-widget .widget-content ul li a:hover{
	color: #ff4f5b;
}

.main-footer .widget-section .contact-widget .info-list li i{
	color: #ff4f5b;
}

.main-footer .widget-section .contact-widget .info-list li a:hover{
  color: #ff4f5b;
}

.main-footer .widget-section .contact-widget .social-links li a:hover{
	background: #ff4f5b;
	border-color: #ff4f5b;
}

.main-footer .footer-bottom .copyright p a:hover{
  color: #ff4f5b;
}

.main-footer .footer-bottom .footer-nav li a:hover{
  color: #ff4f5b;
}

.page-title .content-box .bread-crumb li{
	color: #ff4f5b;
}

.page-title .content-box .bread-crumb li a:hover{
  color: #ff4f5b;
}

.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover{
	color: #ff4f5b;
}

.pagination li a:hover,
.pagination li a.active{
  border-color: #ff4f5b;
  background: #ff4f5b;
}

.sidebar-page-container .sidebar .sidebar-search .search-form .form-group button{
	background: #ff4f5b;
}

.sidebar-page-container .sidebar .sidebar-search .search-form .form-group input:focus{
	border-color: #ff4f5b !important;
}

.sidebar-page-container .sidebar .sidebar-category .widget-content ul li a:hover{
  color: #ff4f5b;
}

.sidebar-page-container .sidebar .sidebar-category .widget-content ul li a:hover:before{
  color: #ff4f5b;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post h5 a:hover{
  color: #ff4f5b;
}

.sidebar-page-container .sidebar .sidebar-social .social-links li a{
	background: #466ca9;
}

.sidebar-page-container .sidebar .sidebar-social .social-links li:nth-child(2) a{
	background: #dd4b39;
}

.sidebar-page-container .sidebar .sidebar-social .social-links li:nth-child(3) a{
	background: #55acee;
}

.sidebar-page-container .sidebar .sidebar-social .social-links li:nth-child(4) a{
	background: #0077b5;
}

.sidebar-page-container .sidebar .sidebar-social .social-links li:last-child a{
	background: #e4405f;
}

.sidebar-page-container .sidebar .sidebar-social .social-links li a:hover{
  background: #ff4f5b !important;
}

.sidebar-page-container .sidebar .sidebar-tags .widget-content .tags-list li a:hover{
  background: #ff4f5b;
  border-color: #ff4f5b;
}

.sidebar-page-container .sidebar .sidebar-tags{
	padding-bottom: 30px !important;
}

.blog-details-content .news-block-one .inner-box .lower-content .text .list li:before{
	color: #ff4f5b;
}

.blog-details-content .post-share-option ul li a:hover{
	background: #ff4f5b;
	border-color: #ff4f5b;
}

.blog-details-content .comments-area .comment .comment-inner a:hover{
  color: #ff4f5b;
}

.blog-details-content .comments-form-area .form-group input:focus,
.blog-details-content .comments-form-area .form-group textarea:focus{
  	border-color: #ff4f5b !important;
}